.profile-image {
  display: block;
  border-radius: 200px;
  height: 10em;
  width: 10em;
  justify-content: center;
  margin: auto;
  padding: 5px;
}

header {
  background: url("../img/intro-bg.jpg") no-repeat top center scroll;
  background-size: cover;
}

header .header-content {
  text-align: center;
}

header .header-content-inner {
  position: relative;
}

@media (min-width: 768px) {
  header .header-content {
    text-align: center;
  }
  header .header-content .header-content-inner {
    position: relative;
  }
}

section.features .section-heading {
  margin-bottom: 0;
}
